body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    width: 100vw;
}

.whole-page-container {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.hero-margin-left {
    margin-left: 70px;
}

.hero-margin-right {
    margin-right: 70px;
}

.website-awesome-section {
    display: flex;
    background-color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    gap: 30px;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB
}

.text-and-button-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 8px;
}

.hero-image {
    width: 40%;
    background-color: gray;

}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

p {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 10px;
    font-weight: bold;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 120px;
    height: 40px;
    border-radius: 12px;
    border: none;
    margin-top: 5px;
    font-weight: bold;
}