body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    width: 100vw;
}

.whole-page-container {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.website-awesome-section {
    display: flex;
    background-color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 30px;
    justify-content: space-between;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB
}

.text-and-button-container {
    display: flex;
    flex-direction: column;
    width: 460px;
    gap: 8px;
}

.hero-image {
    width: 500px;
    background-color: gray;

}

.hero-left-margin {
    margin-left: 100px;
}

.hero-right-margin {
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 125px;
    height: 37px;
    border-radius: 12px;
    border: none;
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
}

.img-placeholder {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.caption-text {
    width: 150px;
    padding-left: 2px;
    padding-top: 5px;
    font-size: 18px;
    color: #E5E7EB;
}

.information-container {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.some-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 65px;
}